server {
  listen               0.0.0.0:80;
  server_name          {{ site.domain_names|join(' ') }};
  access_log           /var/log/nginx/{{ site.name }}.access.csv.log;
  error_log            /var/log/nginx/{{ site.name }}.error.log;
  root                 {{ site.root }};
  index                index.php;
  client_max_body_size 20m;

  location ~* \.(?:ico|gif|jpe?g|png)$ {
    expires            max;
    add_header         Pragma public;
    add_header         Cache-Control "public, must-revalidate, proxy-revalidate";
    access_log         off;
    log_not_found      off;
  }
  location ~ /.well-known                            { allow      all;}
  location = /robots.txt                             { access_log off; log_not_found off; }
  location = /favicon.ico                            { access_log off; log_not_found off; }
  location = /apple-touch-icon.png                   { access_log off; log_not_found off; }
  location = /apple-touch-icon-precomposed.png       { access_log off; log_not_found off; }
  location ~ /\.                                     { access_log off; log_not_found off; deny all; }
  location ~* /(?:uploads|files)/.*\.php$            { deny all; }
  location ~* wp-admin/includes                      { deny all; }
  location ~* wp-includes/theme-compat/              { deny all; }
  location ~* wp-includes/js/tinymce/langs/.*\.php   { deny all; }
  location /wp-content/                              { internal; }
  location /wp-includes/                             { internal; }
  location ~* wp-config.php                          { deny all; }
  location ~ /\.                                     { deny  all; access_log off; log_not_found off; }

  location ~* ^/wp-content/uploads/.*.(html|htm|shtml|php)$ {
    types { }
    default_type text/plain;
  }

  if (!-e $request_filename) {
    rewrite /wp-admin$ $scheme://$host$uri/ permanent;
    rewrite ^(/[^/]+)?(/wp-.*)   $2 last;
    rewrite ^(/[^/]+)?(/.*\.php) $2 last;
  }
  location / {
    try_files                 $uri $uri/ /index.php$is_args$args;
  }

  location ~ \.php$ {
    fastcgi_pass              php-fpm;
    fastcgi_index             index.php;
    fastcgi_param             SCRIPT_FILENAME $document_root$fastcgi_script_name;
    proxy_ignore_client_abort on;
    proxy_connect_timeout     60;
    proxy_read_timeout        30;
    proxy_send_timeout        30;
    proxy_buffers             16 64k;
    proxy_buffer_size         128k;
    include                   fastcgi_params;
  }
}
