# http://reviewsignal.com/blog/2014/06/25/40-million-hits-a-day-on-wordpress-using-a-10-vps/
# https://tweaked.io/guide/nginx/
open_file_cache          max=2000 inactive=20s;
open_file_cache_valid    60s;
open_file_cache_min_uses 5;
open_file_cache_errors   off;

server {
  listen               0.0.0.0:80;
  server_name          {{ site.domain_names|join(' ') }};
  root                 {{ site.root }};
  location ~ /.well-known        { allow      all;}
  return               301 https://$host$request_uri;
}
server {
  listen               0.0.0.0:443 ssl http2;
  server_name          {{ site.domain_names|join(' ') }};
  access_log           /var/log/nginx/{{ site.name }}.access.csv.log csv;
  error_log            /var/log/nginx/{{ site.name }}.error.log;
  resolver             8.8.8.8 8.8.4.4 valid=300s;
  resolver_timeout     5s;
  ssl                  on;
  ssl_stapling         on;
  ssl_stapling_verify  on;
  charset              UTF-8;
  ssl_dhparam          /etc/ssl/certs/dhparam.pem;
  ssl_certificate      /etc/letsencrypt/live/{{ site.domain_names.0 }}/fullchain.pem;
  ssl_certificate_key  /etc/letsencrypt/live/{{ site.domain_names.0 }}/privkey.pem;

  ssl_protocols        TLSv1 TLSv1.1 TLSv1.2;
  ssl_prefer_server_ciphers on;
  ssl_ciphers          EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH;
  ssl_ecdh_curve       secp384r1;
  ssl_session_cache    shared:SSL:5m;
  ssl_session_tickets  off;
  add_header           "X-UA-Compatible"         "IE=Edge";
  add_header           Strict-Transport-Security "max-age=63072000; includeSubDomains; preload";
  add_header           X-Frame-Options           DENY;
  add_header           X-Content-Type-Options    nosniff;

  root                 {{ site.root }};
  index                index.php;
  client_max_body_size 20m;

  location ~* \.(?:ico|gif|jpe?g|png)$ {
    expires            max;
    add_header         Pragma public;
    add_header         Cache-Control "public, must-revalidate, proxy-revalidate";
    access_log         off;
    log_not_found      off;
  }
	location ~* \.(?:css|js)$ {
    expires            max;
    access_log         off;
    log_not_found      off;
    add_header         Cache-Control "public, must-revalidate, proxy-revalidate";
	}
  location ~ /.well-known                            { allow      all;}
  location = /robots.txt                             { access_log off; log_not_found off; }
  location = /favicon.ico                            { access_log off; log_not_found off; }
  location = /apple-touch-icon.png                   { access_log off; log_not_found off; }
  location = /apple-touch-icon-precomposed.png       { access_log off; log_not_found off; }
  location ~ /\.                                     { access_log off; log_not_found off; deny all; }
  location ~* /(?:uploads|files)/.*\.php$            { deny all; }
  location ~* wp-admin/includes                      { deny all; }
  location ~* wp-includes/theme-compat/              { deny all; }
  location ~* wp-includes/js/tinymce/langs/.*\.php   { deny all; }
  location ~* wp-config.php                          { deny all; }
  location ~ /\.                                     { deny  all; access_log off; log_not_found off; }

  location ~* ^/wp-content/uploads/.*.(html|htm|shtml|php)$ {
    types { }
    default_type text/plain;
  }

  if (!-e $request_filename) {
    rewrite /wp-admin$ $scheme://$host$uri/ permanent;
    rewrite ^(/[^/]+)?(/wp-.*)   $2 last;
    rewrite ^(/[^/]+)?(/.*\.php) $2 last;
  }
  location / {
    try_files                    $uri $uri/ /index.php$is_args$args;
  }

  location ~ \.php$ {
    fastcgi_pass                 php-fpm;
    fastcgi_index                index.php;
    fastcgi_param                SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_param                SCRIPT_NAME     $fastcgi_script_name;
    fastcgi_buffer_size          128k;
    fastcgi_buffers              256 16k;
    fastcgi_busy_buffers_size    256k;
    fastcgi_temp_file_write_size 256k;
    proxy_ignore_client_abort    on;
    proxy_connect_timeout        60;
    proxy_read_timeout           30;
    proxy_send_timeout           30;
    proxy_buffers                16 64k;
    proxy_buffer_size            128k;
    include                      fastcgi_params;
  }
	gzip                           on;
	gzip_vary                      on;
	gzip_static                    on;
	gzip_min_length                10240;
	gzip_proxied                   expired no-cache no-store private auth;
	gzip_types                     text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript application/javascript;
	gzip_disable                   "MSIE [1-6]\.";
}
