###############################################################################
################################# Managed by ansible ##########################
###############################################################################
daemonize yes
pidfile /var/run/redis/redis-server.pid

port {{redis.port}}
bind {{redis.ip}}

# unixsocket /var/run/redis/redis.sock
# unixsocketperm 755

timeout 0

tcp-keepalive 0
loglevel notice
logfile /var/log/redis/redis-server.log

databases {{redis.databases}}

save 900 1
save 300 10
save 60 10000

stop-writes-on-bgsave-error yes
rdbcompression yes
rdbchecksum yes

dbfilename dump.rdb
dir /var/lib/redis

################################# REPLICATION #################################
slave-serve-stale-data yes
slave-read-only yes
repl-disable-tcp-nodelay no
slave-priority 100

################################## SECURITY ###################################
# requirepass foobared

################################### LIMITS ####################################
# maxclients {{redis.maxclients}}

appendonly {{redis.appendonly}}
appendfsync {{redis.appendfsync}}
no-appendfsync-on-rewrite no
auto-aof-rewrite-percentage 100
auto-aof-rewrite-min-size 64mb

lua-time-limit 5000

slowlog-log-slower-than 10000
slowlog-max-len 128


notify-keyspace-events ""

hash-max-ziplist-entries 512
hash-max-ziplist-value 64
list-max-ziplist-entries 512
list-max-ziplist-value 64
set-max-intset-entries 512
zset-max-ziplist-entries 128
zset-max-ziplist-value 64
activerehashing yes
client-output-buffer-limit normal 0 0 0
client-output-buffer-limit slave 256mb 64mb 60
client-output-buffer-limit pubsub 32mb 8mb 60
hz 10
aof-rewrite-incremental-fsync yes
