#!/bin/bash

ROOT="{{ site.root }}"
HOSTNAME="{{ ansible_hostname }}"

DEST="gs://{{ gcs.bucket }}{{ gcs.backup.dst_path }}/"
GS_ACCESS_KEY_ID="{{ gcs.access_key }}"
GS_SECRET_ACCESS_KEY="{{ gcs.secret_access_key }}"

INCLIST=(
          "{{ site.root }}" \
       )

EXCLIST=(
          "{{ site.root }}/wp-content/cache/*" \
       )
EXDEVICEFILES=1
ENCRYPTION='yes'
PASSPHRASE="{{ gcs.backup.passphrase }}"
STATIC_OPTIONS="--full-if-older-than {{ gcs.backup.full_if_older_than }}"
CLEAN_UP_TYPE="remove-older-than"
CLEAN_UP_VARIABLE="{{ gcs.backup.remove_older_than }}"
REMOVE_INCREMENTALS_OLDER_THAN="{{ gcs.backup.remove_incrementals_older_than }}"
LOGDIR="/var/log/duplicity-backup/"
LOG_FILE="duplicity-$(date +%Y-%m-%d_%H-%M).log"
LOG_FILE_OWNER="root:root"
REMOVE_LOGS_OLDER_THAN='30'
VERBOSITY="-v0"
TMPDIR="/tmp"
EMAIL_TO="{{ site.hostmaster }}"
EMAIL_FROM="duplicity-backup@"{{ ansible_hostname }}""
EMAIL_SUBJECT="{{ site.name }} duplicity-backup to gcs"
EMAIL_FAILURE_ONLY="yes"
MAIL="mailx"
# ECHO=$(which echo)
